:root {
    --pf-global--primary-color--100: #e17000;
    --pf-global--primary-color--200: #282828;
    --default-background-color: white;
    --link-hover-color: #02679a;
}

.login-pf body {
    background: var(--default-background-color);
}

.pf-c-button.pf-m-primary {
    font-weight: bold;
}

#kc-header {
    color: var(--pf-global--primary-color--200)
}

#kc-header-wrapper::before{
    content: '';
    background: url('../img/fake-digid.svg');
    display: inline-block;
    position: relative;
    top: 0.5em;
    left: -0.5em;
    height: 2em;
    width: 2em;
}